body {
    background-color: #ffffff;
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ffa500;

    display: flex;
    justify-content: space-between;
    padding: 3% 1%;
    align-items: center;
}

.navbar {
    list-style: none;
}

.navbar li {
    display: inline-block;
    padding: 0px 25px;
    transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
}

.navbar li:hover {
    transform: scale(1.2);
}

.navbar li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.subscription {
    margin-top: 50px;
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
}

.subscription h1 {
    margin-bottom: -18px;
    font-size: 40px;
}

.subscription-form input {
    width: 18vw;
    border-radius: 10px;
    border: 1px solid #d1d1d1;
    padding: 10px; 
    box-shadow: 0 3px 6px 0px #a7a7a7;
    font-family: "Open Sans", sans-serif;
    outline: none;
}

.subscription-form button {
    width: 11vw;
    margin-left: 8px;
    border-radius: 10px;
    border: none;
    padding: 10px; 
    box-shadow: 0 2px 6px 0px #a7a7a7;

    display: inline-block;
    outline: none;
    cursor: pointer;

    background-color: #ffa500;
    
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    color: #ffffff;
    
    transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
}

.subscription-form button:hover {
    background-color: #e79702;
}

.subscription-form button:active {
    transform: translateY(1px);
}

.subscription-picture {
    justify-self: center;
}

.subscription-picture img {
    height: auto; 
    width: auto; 
    max-width: 420px;
}

.title {
    padding-top: 30px;
    text-align: center;
}

#title-picture {
    width: 100%;
    height: 600px;

    object-fit: cover;  
}

.title-text {
    color: #ffffff;
    font-size: 60px;
    margin-top: -350px;
}

.recipes {
    padding-top: 300px;
    padding-right: 65px;
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    
}

.recipes-table {
    text-align: center;
}

table {
    width: 500px;
    height: 500px;
    border-collapse: collapse;
    border-radius: 10px;
    border-style: hidden; 
    box-shadow: 0 0 0 1px  rgb(85, 85, 85); 
}

td {
    border: 1px solid #d6d1d1;
    font-weight: bold;
}

td:hover{
    background-color: #ed964459;
}

.recipe-title {
    font-size: 32px;
    text-align: center;

    color: #e79702;
}

.recipe-picture {
    margin-top: 10px;
    text-align: center;
    padding-right: 20px;
}

#recipe-picture {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 10px;
}

.recipe-instructions {
    font-weight: bold;
    padding: 5px;
}

footer {
    background-color: #ffffff;
    color: #514d4d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px 10px 50px;
    font-size: 16px;
}

.footer-icons {
    font-size: 32px;
}